html, body, main, .full {
    width: 100%;
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
}
main{
    display: flex;
    align-items: center;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    cursor: grab;
}